[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
prisma = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
